<ion-header>
  <ion-navbar>
    <ion-title>
      Lista de Contactos
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <ion-item *ngFor="let contact of contactsFound">
      <h2>{{contact.displayName}}</h2> <!-- Dato de contacto-->
      <p *ngFor="let num of contact?.phoneNumbers">
        {{num.value}} <!-- Dato de contacto-->
      </p>
    </ion-item>
    <ion-item>
      <hr>
      <h3>El siguiente contacto será agregado:</h3>
      <hr>
      <br>
      <h3>{{code}}</h3><!-- Información guardada de contacto-->
    </ion-item>
    <ion-item>
      <!-- Evento que dispara el almacenamiento del contacto cuando los datos han sido guardados-->
      <button ion-button block (click)="addContact()">Add Contact</button>
    </ion-item>
  </ion-list>
</ion-content>